*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #828080;
    color: rgb(0, 0, 0);
    text-align: center;
}
/* .main{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.btn{
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 9px;
    color: white;
    padding: 4px;
}
.container{
    display: flex;
    justify-content: center;
}
